<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Login - amble </title>
	<link rel="stylesheet" type = "text/css" href="/style.css"/>
</head>
<body>
<a href="/" class="btn btn-primary"><img id="logo" src="Logo_Vers1.jpg"></a>
<div align="center"><h1>Log into amble</h1>
<form  action="login" method="post">
	<label>
		Username:
		<input name="username" type="text"/>
	</label><br />
	<label>
		Password:&nbsp
		<input name="password" type="password"/>
	</label><br /> <br/>

	<button type="submit" >Login</button>
</form>
</div>
</body>
</html>