<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
<h1>Register here</h1>
<form action="#" th:action="@{/register}" th:object="${dto}" method="post">
	<label>
		Username:
		<input th:field="*{username}" type="text"/>
	</label><br />
	<label>
		Firstname:
		<input th:field="*{firstname}" type="text"/>
	</label><br />
	<label>
		Lastname:
		<input th:field="*{lastname}" type="text"/>
		</label><br />
	<label>
		E-Mail Adresse:
		<input th:field="*{emailaddress}" type="text"/>
	</label><br />
		Password:
		<input th:field="*{password}" type="password"/>
	</label><br />
	<button type="submit" >Register</button>
</form>
</body>
</html>